{% if snmpv3 %}
snmp-server user {{ username }} {{ group_name }} auth {{ auth_protocol }} {{ auth_key }} priv {{ priv_protocol }} {{ priv_key }}
snmp-server host {{ collector_ip }} version 3 auth {{ username }}
{% else %}
snmp-server community {{ community }} group network-operator
snmp-server host {{ collector_ip }} version 2c {{ community }}
{% endif %}
